<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de noticias</title>
		</head>
	<body>

		<h1>New</h1>

		<table>
			<tr>
				<td>ID</td>
				<td>Title</td>
				<td>News</td>
			</tr>

			<tr>
				<td><%= New[0].id_news %></td>
				<td><%= New[0].title %></td>
				<td><%= New[0].news %></td>
			</tr>

		</table>


	</body>
</html>